.aLabel._jsPlumb_hover,
._jsPlumb_source_hover,
._jsPlumb_target_hover {
  background: #fafafa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f7f7f7));
  background: -moz-linear-gradient(100% 100% 90deg, #f7f7f7, #fff);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3); 
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3); 
  box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
}

._jsPlumb_connector._jsPlumb_hover {
  z-index: 1050;
}

.menu_tree_compare-highlight {
	background: #fafafa;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f7f7f7));
	background: -moz-linear-gradient(100% 100% 90deg, #f7f7f7, #fff);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3); 
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
  font-weight: bold;
}

#menu_tree_compare-container {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

#menu_tree_compare-left {
  left: 0;
  top: 200;
  width: 49%;
  position: absolute;
}

#menu_tree_compare-right {
  right: 0;
  top: 200;
  width: 49%;
  position: absolute;
}

._jsPlumb_connector  {
    opacity: 0.5;
}
